/*CSS Variables */

:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
		line-height: 1.3;
}

/* Responsive flexbox navigation */

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style-type: none;
}

nav li {
	padding: 2em;
}

nav a{
	text-decoration: none;
	color: black;
}

@media (max-width: 870px) {

	nav ul {
		flex-direction: column;
		justify-content: center;
	}

	nav li {
		padding: 10px;
		text-align: center;
	}

}

/* Wrapper page grid  */

  .wrapper {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
		max-width: 1300px; /* stop responsive on large screens */
		 margin: auto; /* center on large screens */
  }

 .wrapper > * {
    grid-column: 2;
    min-width: 0;
  }

	h1,
	h2 {
    text-align: center;
		font-weight: 300;
		font-size: 2.3125rem;
  }

	main {
	  display: grid;
	}

  section {
  justify-self: center;
	}

/* icon resizing */

	.icon {
		max-width: 4em;
	}

/* Responsive grid for about section */

	#about {
		display: grid;
		grid-gap: 1px 2em;
		grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
		grid-template-areas:
		"H H H"
		"P P P"
		"I1 I2 I3"
		"H1 H2 H3"
		"P1 P2 P3"
		;
	}

	#about > * {
		justify-self: center;
	}

	#about > h2 {
		grid-area: H;
	}

	#headertext {
		grid-area: P;
	}

	#icon1 {
		grid-area: I1;
	}

	#icon2 {
		grid-area: I2;
	}

	#icon3 {
		grid-area: I3;
	}

	#webdevheader {
		grid-area: H1;
	}

	#androidheader {
		grid-area: H2;
	}

	#iosheader {
		grid-area: H3;
	}

	#webdevtext {
		grid-area: P1;
	}

	#androidtext {
		grid-area: P2;
	}

	#iostext {
		grid-area: P3;
	}

	@media (max-width: 800px) {
		#about {
			display: block;
			text-align: center;
		}
	}

/* Responsive grid for latest projects section */

#flipcard-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap: 30px;
}

#flipcard-wrapper > * {
	justify-content: center;
}

.photo {
	height: 200px;
  width: 100%;
  object-fit: cover;
}

/* Header background */

h1 {
	font-size: 2em;
	color: white;
}

#main-header {
	background-image: url("img/header-img.jpg");
	background-size: cover;
	padding: 15% 0;
}

/* small screen sizes */

@media (max-width: 400px) {

#flipcard-wrapper {
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.wrapper {
	grid-template-columns: 10px 1fr 10px;
}

}
